body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-box {
    width: 300px;
    padding: 20px;
    border: 2px solid #00ff08;
    border-radius: 10px;
}